.parentDev:hover .cartDev {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.parentDev .cartDev {
    opacity: 0;
    visibility: hidden;
}

.parentDev:hover .bodyCard {
    transform: translateY(-10%);
    transition: transform 0.2s ease-in-out;
}
